= simple_form_for(@post) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title, :label => 'Заголовок'
    = f.input :content, :label => 'Текст', as: :rich_text_area

  .form-actions
    = f.button :submit, 'Опубликовать'
